*{
    box-sizing: border-box;
    /* border: 2px solid black; */
}

:root {
    font-size: clamp(10px, 0.625rem + 0.2vw, 16px);
  }

body{
    width: 100%;
    height: 100vh;
}

.main-container{
    display: grid;
    grid-template-columns: minmax(200px, 1.5fr) minmax(300px, 5fr) minmax(250px, 1.8fr);
    grid-template-rows: 1fr 1fr 1.5fr 0.5fr 1.5fr 1fr;
    background-color: var(--main-container);
    gap:10px;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;
    grid-template-areas:    "dashboard header header"
                            "dashboard maincontent news"
                            "dashboard maincontent news"
                            "dashboard maincontent ."
                            "dashboard maincontent trending"
                            "dashboard maincontent trending";
}

.header{
    background-color: var(--header-color);
    grid-area: header;
    /* padding: 20px; */
    padding-top: 5px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1.7fr 0.1fr 0.9fr;
    grid-template-rows: 0.10fr 0.25fr;
    height: min-content;
    gap:10px;
    margin-top: 0;
    overflow: hidden;
    grid-template-areas: "search-bar alert profile"
                         "intro-bar . messages";
    box-shadow:0px 5px 10px #a8a6a6;
}

.search-bar-container{
    width: 95%;
    height: 45px;
    grid-area: search-bar;
    padding: 5px;
    padding-bottom: 0;
    margin-top: 30px;
    border: none;
    /* font-size: 17px; */
    border-radius:30px;
    border:1px solid #dcdcdc;
    display: inline;
}

.search-bar-container:hover{
    box-shadow: 1px 1px 8px 1px #504f4f;
  }
  .search-bar-container:focus-within{
    box-shadow: 1px 1px 8px 1px #504f4f;
    outline:none;
  }

.search-bar{
    height:35px;
    border:none;
    border-radius:30px;
    width:90%;
    padding: 5px;
    /* font-size:16px; */
    outline: none;
    background-color: white ;
    align-self: flex-end;
}

.sub-btn{
    background-color: white;
    border: none;
}

.sub-btn:hover{
    cursor: pointer;
}
.alert-icon{
    background-color: white;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 50px;
    grid-area: alert;
    display: grid;
    align-self: center;
    transition: transform 0.3s ease-in-out;
}

.alert-icon:hover{
    transform: scale(1.3);
    background-color: grey;
    cursor: pointer;
}

.fa-bell{
    justify-self: center;
    align-self: center;
}

.user-profile-tab{
    grid-area: profile;
    background-color: var(--header-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
}

.user-profile-tab > p{ 
    align-self: flex-end;
    justify-self: flex-start;
}
.user-profile-tab >img{
    width: 95px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.user-profile-tab > img:hover{
    transform: scale(1.3) ;
}

.user-profile-tab > p{
    /* font-size: 20px; */
    text-align: center;
}

.introbar{
    grid-area: intro-bar;
    background-color: var(--header-color);
    display: flex;
    align-items: flex-end;
    gap: 20px;
    font-size: 20px;
    margin: 5px;
}

.introbar > img{
    height: auto;
    width: 110px;
    transition: transform 0.3s ease-in-out;
}

.introbar >img:hover{
    transform: scale(1.3);
}

.messages{
    grid-area: messages;
    background-color: var(--header-color);
    margin-top: 20px;

}

.messages >ul{
    display:flex;
    gap: 45px;
    list-style: none;
    padding: 10px;
    width: 100%;
    align-items: flex-end;
    
}

.msgs > *{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: max-content;
    height: max-content;
    color: #FFF;
    background-color: var(--sidebar-color);
    border-radius:25px ;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.msgs :hover{
    transform: scale(1.2);
    background-color: var(--header-highlight);
    cursor: pointer;
}

.sidebar{
    background-color: var(--sidebar-color);
    grid-area: dashboard;
    box-shadow:6px 6px 10px #a8a6a6;  
    padding: 10px;
    padding-left: 10px;
    /* font-size: 16px; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(5, 1fr);
    gap:0px;
    color: #FFF;
}

.nav >h1 , .sidebar-container> *{
    padding: 15px;
    margin: 15px;
    border-radius:25px ;
    width: max-content;
    transition: transform 0.3s ease-in-out;
}

.sidebar-container> *:hover{
    background-color: var(--sidebar-color-highlight);
    transform: scale(1.3);
}

h1{
    display: flex;
    align-items: center;
    gap: 15px;
    /* font-size: 40px; */
    justify-content: flex-start;
    color: white  ;
}

.sidebar-container{
    display: grid;
    grid-template-columns: minmax(250px 1fr);
    grid-template-rows: repeat(5 minmax(250px 1fr)) ;
    justify-items: flex-start;
    padding-left: 10px;
}

.settings{
    display: grid;
    grid-template-columns: minmax(250px 1fr);
    grid-template-rows: repeat(2 minmax(250px 1fr)) ;
    justify-items: flex-start;
    padding-left: 10px;
    padding-bottom: 50px;
}
.settings >p {
    margin: 15px;
    padding: 15px;
    border-radius:25px ;
    width: max-content;
    transition: transform 0.3s ease-in-out;
    color: #FFF;

}

.settings > p:hover{
    background-color: var(--sidebar-color-highlight);
    transform: scale(1.3);
}

.main-content{
    background-color: var(--main-container);
    grid-area: maincontent;
    padding:30px;
    background-color: var(--main-container);
    width: 100%;
    height: 100%;
}

.content-container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--main-container);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-template-rows: repeat(3, minmax(150px, 1.5fr));
    gap:80px;
}

.card-container{
    min-width: fit-content;
    min-height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow:5px 5px 10px #a8a6a6;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
    border-left: #bb8645 5px solid;
    overflow: auto;
}

.card-container:hover{
    transform: scale(1.1);
}

.card-container > .card-content{
    /* font-size: 19px; */
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 10px;
    gap: 20px;
    flex: 1;
    overflow: hidden;
    
}

.card-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 0.4s ease-in-out;
}

.card-icons > *:hover{
    transform: rotate(350deg) scale(1.3);
    cursor: pointer;
}

.news-container{
    max-height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow:5px 5px 10px #a8a6a6;
    margin-left: 0;
    margin-right: 10px;
    overflow: auto;
}


.trending{
    background-color: var(--main-container);
    grid-area: trending;
    margin-top: 0;
}

.trending-container{
    background-color: white;
    padding: 5px;
    border-radius: 30px;
    box-shadow:5px 5px 10px #a8a6a6;
    margin-left: 0; 
    margin-right: 10px;
    margin-bottom: 5px;
}

.trend-1 ,.trend-2, .trend-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}

.news-tab{
    background-color: var(--main-container);
    grid-area: news;
}

.footer{
    background-color: var(--right-column);
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 17px;
    padding: 10px;
    text-shadow: 0 0 7px #000000;
    font-family: 'Bellota Text', cursive;
    text-align: center;
    color: #000000;
    height: 50px; /* Ensure enough height for footer content */
    margin: 0;
    bottom: 0;
}

/* Footer icon styling */
.fa-github {
    color: var(--primary-dark);
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.5);
}




/*CSS variables*/

:root{
    --primary-dark: #000000;
    --primary-color: ;
    --header-color: #fffdfb;
    --header-highlight: #bb8645;
    --header-buttons: ;
    --header-btn-highlight: ;
    --sidebar-color: #0881a3;
    --sidebar-color-highlight:#085e75 ;
    --main-container: #fde9df;
    --right-column: #ffd6a4;
}
  
/*Fonts */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  